##ingnor##
/JX_PM/bin/Debug/netcoreapp2.1/
/JX_PM/obj/Debug/netcoreapp2.1/
/PMDao/bin/Debug/netcoreapp2.1/
/PMDao/obj/Debug/netcoreapp2.1/
/PMDbService/bin/Debug/netcoreapp2.1/
/PMDbService/obj/Debug/netcoreapp2.1/
/PMModel/bin/Debug/netcoreapp2.1/
/PMModel/obj/Debug/netcoreapp2.1/
/PMService/bin/Debug/netcoreapp2.1/
/PMService/obj/Debug/netcoreapp2.1/
/PMServiceApi/bin/Debug/netcoreapp2.1/
/PMServiceApi/obj/Debug/netcoreapp2.1/
/PMUtil/bin/Debug/netcoreapp2.1/
/PMUtil/obj/Debug/netcoreapp2.1/