##ingnor##
.vs/JX_PM/v16/.suo
*.cache
PMDao/bin/Debug/netcoreapp2.1/PMDAL.dll
PMDao/bin/Debug/netcoreapp2.1/PMDbService.dll
PMUtil/obj/Debug/netcoreapp2.1/PMUtil.csprojAssemblyReference.cache
PMDao/bin/Debug/netcoreapp2.1/PMModel.pdb
.vs/JX_PM/v16/.suo
JX_PM/obj/Debug/netcoreapp2.1/PMAPP.csprojAssemblyReference.cache
PMDao/bin/Debug/netcoreapp2.1/PMDAL.dll
PMDao/bin/Debug/netcoreapp2.1/PMModel.dll
PMDao/bin/Debug/netcoreapp2.1/PMModel.pdb
PMDao/obj/Debug/netcoreapp2.1/PMDAL.csproj.FileListAbsolute.txt
PMDao/obj/Debug/netcoreapp2.1/PMDAL.csprojAssemblyReference.cache
PMDao/obj/Debug/netcoreapp2.1/PMDAL.dll
PMDbService/obj/Debug/netcoreapp2.1/PMDbService.csproj.FileListAbsolute.txt
PMDbService/obj/Debug/netcoreapp2.1/PMDbService.csprojAssemblyReference.cache
PMModel/obj/Debug/netcoreapp2.1/PMModel.csproj.FileListAbsolute.txt
PMModel/obj/Debug/netcoreapp2.1/PMModel.csprojAssemblyReference.cache
PMService/bin/Debug/netcoreapp2.1/PMDAL.dll
PMService/bin/Debug/netcoreapp2.1/PMModel.dll
PMService/bin/Debug/netcoreapp2.1/PMModel.pdb
PMService/bin/Debug/netcoreapp2.1/PMService.dll
PMService/obj/Debug/netcoreapp2.1/PMService.csproj.FileListAbsolute.txt
PMService/obj/Debug/netcoreapp2.1/PMService.csprojAssemblyReference.cache
PMService/obj/Debug/netcoreapp2.1/PMService.dll
PMServiceApi/obj/Debug/netcoreapp2.1/PMServiceApi.csproj.FileListAbsolute.txt
PMUtil/obj/Debug/netcoreapp2.1/PMUtil.csproj.FileListAbsolute.txt
