##ingnor##
/JX_PM/bin/Debug/netcoreapp2.1/
/JX_PM/obj/Debug/netcoreapp2.1/
/PMDao/bin/Debug/netcoreapp2.1/
/PMDao/obj/Debug/netcoreapp2.1/
/PMDbService/bin/Debug/netcoreapp2.1/
/PMDbService/obj/Debug/netcoreapp2.1/
/PMModel/bin/Debug/netcoreapp2.1/
/PMModel/obj/Debug/netcoreapp2.1/
/PMService/bin/Debug/netcoreapp2.1/
/PMService/obj/Debug/netcoreapp2.1/
/PMServiceApi/bin/Debug/netcoreapp2.1/
/PMServiceApi/obj/Debug/netcoreapp2.1/
/PMUtil/bin/Debug/netcoreapp2.1/
/PMUtil/obj/Debug/netcoreapp2.1/
.vs/JX_PM/v16/.suo
*.cache
PMDao/bin/Debug/netcoreapp2.1/PMDAL.dll
PMDao/bin/Debug/netcoreapp2.1/PMDbService.dll
PMUtil/obj/Debug/netcoreapp2.1/PMUtil.csprojAssemblyReference.cache
PMDao/bin/Debug/netcoreapp2.1/PMModel.pdb
